<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Assets/css/site.css">
    @RenderSection("styles", false)
</head>
<body ng-app="cwoApp" ng-controller="appCtrl">

    <div class="nav-header">
        <button type="button" ng-click="navSidebar=!navSidebar" class="nav-header__button button button--icon-only button--icon-menu"></button>
        <h1 class="nav-header__title h1">
            <a href="/" class="nav-header__link">
                <img class="nav-header__logo" alt="cwel" src="/Assets/img/cwel_logo.svg" />
            </a>
        </h1>
    </div>

    <div class="docs-playground">
        @Html.Action("SideBar", "Home")
        @RenderBody()
    </div>

    <div class="footer">
        <div class="footer__title">&copy; Countrywide <span>{{ date | date: 'yyyy' }}</span></div>
    </div>

    <script src="~/Cwel/cwel-full.js"></script>
    <script src="~/Assets/js/docsapp.js"></script>
    <script src="~/Assets/js/playground.js"></script>
    <script src="~/Assets/js/jsfiddle.js"></script>
    <script src="~/Assets/js/playgroundStore.js"></script>
    <script src="~/Assets/js/bus.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
